/* .main_window {
  background-color: #282a36;
}

.imageframe {
  border-radius: 20px;
}

window button {
  background-color: #44475a;
}

window scale {
  color: #bd93f9;
}

.infolabel {
  color: whitesmoke;
  font-family: "source sans pro", "arial";
  font-size: 18px;
}

button {
  font-family: "jetbrains mono", "source sans pro", "arial";
  font-size: 15px;
  font-weight: normal;
  border-radius: 2px;
  border-color: black;
  color: whitesmoke;
}

button:hover {
  background-color: #343745;
}

.titlelabel {
  font-family: arial;
  font-size: 20px;
  color: whitesmoke;
}
 */